@charset "utf-8";
@import "../../assets/css/common/var";
@import "../../assets/css/common/mixin";

.gear-list {
    position: relative;
    width: 100%;
    margin-top: 20px;

    &-title {
        position: relative;
        font-size: $sizeNormal;
        color: $cMainWeak;
        line-height: 1;
        padding: 10px $baseNum;
        font-weight: bold;
    }

    &-body {
        position: relative;
        background-color: $white;
    }
}